In [34]:
import mysql.connector
import pandas as pd
import numpy as np

In [35]:
credentials = pd.read_csv('credentials.csv')
credentials

        Key         Value
0      host   172.20.20.4
1      user   gabrielabib
2  password  Elba5233Dua&
3  database           hgo
4      port          3306
5       NaN           NaN
6       NaN           NaN
7       NaN           NaN

In [36]:
#Connection to the database
host = credentials['Value'][0]
user = credentials['Value'][1]
password = credentials['Value'][2]
database = credentials['Value'][3]
port = credentials['Value'][4]
mydb = mysql.connector.connect(host=host, user=user, database=database, port=port, password=password, auth_plugin='mysql_native_password')
mycursor = mydb.cursor()

#Safecheck to guarantee that the connection worked
mycursor.execute('SHOW TABLES;')
print(f"Tables: {mycursor.fetchall()}")
print(mydb.connection_id) #it'll give connection_id,if got connected

Tables: [('ConsultaUrgencia_doentespedidosconsultaNeurologia2012',), ('consultaneurologia2012',), ('consultaneurologia201216anon_true',)]
363

In [37]:
df = pd.read_sql('SELECT * FROM consultaneurologia201216anon_true', mydb)
df2 = df = pd.read_sql('SELECT DISTINCT * FROM consultaneurologia201216anon_true', mydb)
type(df)

/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

pandas.core.frame.DataFrame

In [38]:
df.head(5).to_clipboard()

In [39]:
ID_DOENTE = pd.read_sql('SELECT DISTINCT ID_DOENTE FROM consultaneurologia201216anon_true', mydb)
PROCESSO = pd.read_sql('SELECT DISTINCT PROCESSO FROM consultaneurologia201216anon_true', mydb)
COD_REFERENCIA = pd.read_sql('SELECT DISTINCT COD_REFERENCIA FROM consultaneurologia201216anon_true', mydb)
COD_PZ = pd.read_sql('SELECT DISTINCT COD_PZ FROM consultaneurologia201216anon_true', mydb)
COD_UNID_SAUDE_PROV = pd.read_sql('SELECT DISTINCT COD_UNID_SAUDE_PROV FROM consultaneurologia201216anon_true', mydb)
UNID_PROV = pd.read_sql('SELECT DISTINCT UNID_PROV FROM consultaneurologia201216anon_true', mydb)
TIPO_UNID = pd.read_sql('SELECT DISTINCT TIPO_UNID FROM consultaneurologia201216anon_true', mydb)
PROVENIENCIA = pd.read_sql('SELECT DISTINCT PROVENIENCIA FROM consultaneurologia201216anon_true', mydb)
COD_CTH_PRIOR = pd.read_sql('SELECT DISTINCT COD_CTH_PRIOR FROM consultaneurologia201216anon_true', mydb)
CTH_PRIOR = pd.read_sql('SELECT DISTINCT CTH_PRIOR FROM consultaneurologia201216anon_true', mydb)
COD_MOTIVO_RECUSA = pd.read_sql('SELECT DISTINCT COD_MOTIVO_RECUSA FROM consultaneurologia201216anon_true', mydb)
DES_MOTIVO_RECUSA = pd.read_sql('SELECT DISTINCT DES_MOTIVO_RECUSA FROM consultaneurologia201216anon_true', mydb)
COD_ESPECIALIDADE = pd.read_sql('SELECT DISTINCT COD_ESPECIALIDADE FROM consultaneurologia201216anon_true', mydb)
DES_ESPECIALIDADE = pd.read_sql('SELECT DISTINCT DES_ESPECIALIDADE FROM consultaneurologia201216anon_true', mydb)
agrupadora = pd.read_sql('SELECT DISTINCT agrupadora FROM consultaneurologia201216anon_true', mydb)
OUTRA_ENTIDADE = pd.read_sql('SELECT DISTINCT OUTRA_ENTIDADE FROM consultaneurologia201216anon_true', mydb)
DATA_RECEPCAO = pd.read_sql('SELECT DISTINCT DATA_RECEPCAO FROM consultaneurologia201216anon_true', mydb)
DATA_ENVIO = pd.read_sql('SELECT DISTINCT DATA_ENVIO FROM consultaneurologia201216anon_true', mydb)
DATA_RETORNO = pd.read_sql('SELECT DISTINCT DATA_RETORNO FROM consultaneurologia201216anon_true', mydb)
NUM_TAXA = pd.read_sql('SELECT DISTINCT NUM_TAXA FROM consultaneurologia201216anon_true', mydb)
ESTADO = pd.read_sql('SELECT DISTINCT ESTADO FROM consultaneurologia201216anon_true', mydb)
DATA_MARCACAO = pd.read_sql('SELECT DISTINCT DATA_MARCACAO FROM consultaneurologia201216anon_true', mydb)
DATA_REALIZACAO = pd.read_sql('SELECT DISTINCT DATA_REALIZACAO FROM consultaneurologia201216anon_true', mydb)
OBSERVACOES = pd.read_sql('SELECT DISTINCT OBSERVACOES FROM consultaneurologia201216anon_true', mydb)
Mês_entrada = pd.read_sql('SELECT DISTINCT Mês_entrada FROM consultaneurologia201216anon_true', mydb)
Ano_entrada = pd.read_sql('SELECT DISTINCT Ano_entrada FROM consultaneurologia201216anon_true', mydb)
trata_datarecusa = pd.read_sql('SELECT DISTINCT (`trata data recusa`) FROM consultaneurologia201216anon_true', mydb)
resume_saída = pd.read_sql('SELECT DISTINCT (`resume saída`) FROM consultaneurologia201216anon_true', mydb)
mês_saida = pd.read_sql('SELECT DISTINCT mês_saida FROM consultaneurologia201216anon_true', mydb)
ano_saida = pd.read_sql('SELECT DISTINCT ano_saida FROM consultaneurologia201216anon_true', mydb)
Texto = pd.read_sql('SELECT DISTINCT Texto FROM consultaneurologia201216anon_true', mydb)

/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/gabrielabib/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [40]:
TIPO_UNID

  TIPO_UNID
0    CS/USF
1     OUTRA
2      HOSP

In [42]:
DES_MOTIVO_RECUSA

                                    DES_MOTIVO_RECUSA
0
1                               Sem relatorio clinico
2      O Doente ja teve Consulta com outra referencia
3                                        Sem marcacao
4                        Enviado ao Medico Assistente
5                                    O Doente Faleceu
6                       Falta Injustificada do Utente
7                                Referencia Duplicada
8                 Consulta Marcada. O Doente Desistiu
9                             Marcada em Subsequentes
10                  Consulta Marcada. O Doente Faltou
11                             Marcada sem Referencia
12                                Utente fora da area
13                   Enviado para outra Especialidade
14                                  O Doente Desistiu
15                          Sem Exames Complementares
16                     Cancelado pelo SIGLIC - Utente
17                 Transferido Para Outra Instituic?o
18                        Especialidade nao existente
19                         Em processamento no SIGLIC
20  Não cumpre os critérios clínicos para a consul...

In [15]:
variables = pd.DataFrame()
variables['variables'] = df.columns.to_list()
variables['n_unique'] = df.nunique().to_list()


head = df.head(5).transpose()
head.reset_index()

head = df.head(5).transpose()
head = head.reset_index()

variables = variables.merge(head, left_on=['variables'], right_on = [ 'index'])

variables = variables.drop(['index'],axis=1)
variables

,variables,n_unique,0,1,2,3,4
0,ID_DOENTE,8200,SSHCCB,CSAS,ADCFD,SSZDBZ,SEAHEG
1,PROCESSO,8018,LVMVDV,LVMVBD,LVMMVJ,LVMMLV,LVMNDL
2,COD_REFERENCIA,10150,LQHSOQLH,LOHLTRTS,LQHROQHL,LPHQULSU,LPHHVHVL
3,COD_PZ,5673,GDCADAB,FZFZSDB,,CSGGHEZ,
4,COD_UNID_SAUDE_PROV,122,3151575,3152471,0,3151672,0
5,UNID_PROV,120,USF TORRE DA MARINHA,USF SERVIR SAUDE-CS,,USF AMORA SAUDAVEL,
6,TIPO_UNID,3,CS/USF,CS/USF,OUTRA,CS/USF,OUTRA
7,PROVENIENCIA,4,CTH,CTH,SAM,CTH,
8,COD_CTH_PRIOR,4,3,,,,
9,CTH_PRIOR,4,Normal,,,,
10,COD_MOTIVO_RECUSA,21,0,0,0,0,1
11,DES_MOTIVO_RECUSA,21,,,,,Sem relatorio clinico
12,COD_ESPECIALIDADE,8,20420,20420,20425,20420,20420
13,DES_ESPECIALIDADE,8,NEUROLOGIA,NEUROLOGIA,EPILEPSIA,NEUROLOGIA,NEUROLOGIA
14,agrupadora,1,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA
15,OUTRA_ENTIDADE,62,0,0,195,0,2
16,DATA_RECEPCAO,1436,11/11/2014,17/04/2012,26/09/2014,11/10/2013,25/02/2013
17,DATA_ENVIO,1316,13/11/2014,17/04/2012,26/09/2014,11/10/2013,25/02/2013
18,DATA_RETORNO,1025,21/05/2015,23/04/2012,26/09/2014,25/10/2013,26/02/2013
19,NUM_TAXA,5190,30521915,23373633,28930484,26818000,0
20,ESTADO,3,Realizada,Realizada,Realizada,Realizada,
21,DATA_MARCACAO,733,21/05/2015,27/04/2012,26/09/2014,28/10/2013,
22,DATA_REALIZACAO,1236,12/06/2015,02/07/2012,13/01/2015,03/12/2013,
23,OBSERVACOES,500,,,,,Conforme e-mail de 30/11/2015
24,Mês_entrada,12,11,4,9,10,2
25,Ano_entrada,5,2014,2012,2014,2013,2013
26,trata data recusa,1110,21/05/2015,23/04/2012,26/09/2014,25/10/2013,26/02/2013
27,resume saída,1477,12/06/2015,02/07/2012,13/01/2015,03/12/2013,26/02/2013
28,mês_saida,13,6,7,1,12,2
29,ano_saida,8,2015,2012,2015,2013,2013
30,Texto,1510,"Utente de 75 anos, refere tremor desde há 5 an...",Avaliação neurologica para avaliação da toma d...,cefaleias,"Utente do sexo feminino com 30 anos de idade, ...",Sem relatorio clinico

In [33]:
mês_saida

   mês_saida
0          6
1          7
2          1
3         12
4          2
5          5
6         11
7          4
8          8
9          3
10        10
11         9
12   #VALUE!

In [17]:
variables['unique2'] = list((list(ID_DOENTE),list(PROCESSO),list(COD_REFERENCIA),list(COD_PZ),list(COD_UNID_SAUDE_PROV),list(UNID_PROV),list(TIPO_UNID),list(PROVENIENCIA),list(COD_CTH_PRIOR),list(CTH_PRIOR),list(COD_MOTIVO_RECUSA),list(DES_MOTIVO_RECUSA),list(COD_ESPECIALIDADE),list(DES_ESPECIALIDADE),list(agrupadora),list(OUTRA_ENTIDADE),list(DATA_RECEPCAO),list(DATA_ENVIO),list(DATA_RETORNO),list(NUM_TAXA),list(ESTADO),list(DATA_MARCACAO),list(DATA_REALIZACAO),list(OBSERVACOES),list(Mês_entrada),list(Ano_entrada),list(trata_datarecusa),list(resume_saída),list(mês_saida),list(ano_saida),list(Texto)))
variables.to_clipboard()

In [10]:
distinct_values = []
unique = []
for index, i in columns[['variables']]:
    unique = len(np.append(unique,df[i].unique()))
    distinct_values = np.append(distinct_values,list(df[i].unique()))
    # print(df[i].unique())
    # print(len(df[i].unique()))
print(unique)

NameError: name 'columns' is not defined

In [ ]:
head = df.head(5).transpose()
head = head.reset_index()

head

,index,0,1,2,3,4
0,ID_DOENTE,SSHCCB,CSAS,ADCFD,SSZDBZ,SEAHEG
1,PROCESSO,LVMVDV,LVMVBD,LVMMVJ,LVMMLV,LVMNDL
2,COD_REFERENCIA,LQHSOQLH,LOHLTRTS,LQHROQHL,LPHQULSU,LPHHVHVL
3,COD_PZ,GDCADAB,FZFZSDB,,CSGGHEZ,
4,COD_UNID_SAUDE_PROV,3151575,3152471,0,3151672,0
5,UNID_PROV,USF TORRE DA MARINHA,USF SERVIR SAUDE-CS,,USF AMORA SAUDAVEL,
6,TIPO_UNID,CS/USF,CS/USF,OUTRA,CS/USF,OUTRA
7,PROVENIENCIA,CTH,CTH,SAM,CTH,
8,COD_CTH_PRIOR,3,,,,
9,CTH_PRIOR,Normal,,,,
10,COD_MOTIVO_RECUSA,0,0,0,0,1
11,DES_MOTIVO_RECUSA,,,,,Sem relatorio clinico
12,COD_ESPECIALIDADE,20420,20420,20425,20420,20420
13,DES_ESPECIALIDADE,NEUROLOGIA,NEUROLOGIA,EPILEPSIA,NEUROLOGIA,NEUROLOGIA
14,agrupadora,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA,NEUROLOGIA
15,OUTRA_ENTIDADE,0,0,195,0,2
16,DATA_RECEPCAO,11/11/2014,17/04/2012,26/09/2014,11/10/2013,25/02/2013
17,DATA_ENVIO,13/11/2014,17/04/2012,26/09/2014,11/10/2013,25/02/2013
18,DATA_RETORNO,21/05/2015,23/04/2012,26/09/2014,25/10/2013,26/02/2013
19,NUM_TAXA,30521915,23373633,28930484,26818000,0
20,ESTADO,Realizada,Realizada,Realizada,Realizada,
21,DATA_MARCACAO,21/05/2015,27/04/2012,26/09/2014,28/10/2013,
22,DATA_REALIZACAO,12/06/2015,02/07/2012,13/01/2015,03/12/2013,
23,OBSERVACOES,,,,,Conforme e-mail de 30/11/2015
24,Mês_entrada,11,4,9,10,2
25,Ano_entrada,2014,2012,2014,2013,2013
26,trata data recusa,21/05/2015,23/04/2012,26/09/2014,25/10/2013,26/02/2013
27,resume saída,12/06/2015,02/07/2012,13/01/2015,03/12/2013,26/02/2013
28,mês_saida,6,7,1,12,2
29,ano_saida,2015,2012,2015,2013,2013
30,Texto,"Utente de 75 anos, refere tremor desde há 5 an...",Avaliação neurologica para avaliação da toma d...,cefaleias,"Utente do sexo feminino com 30 anos de idade, ...",Sem relatorio clinico

In [ ]:
df.mean().to_list()

/var/folders/g5/43zxmsfs73v6lgj3_2k04qj80000gp/T/ipykernel_6247/1715108761.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean().to_list()

[1823875.3800985222,
 inf,
 7.469950738916256,
 20420.450443349753,
 77.22177339901478,
 15071535.933103448,
 6.531527093596059,
 2014.1702463054187]